.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  text-decoration: none;
}

.navigation-links-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.navigation-links-navlink2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.navigation-links-navlink3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.navigation-links-navlink4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}


.navigation-links-root-class-name8 {
  background-color: #faebd6;
}

.navigation-links-root-class-name10 {
  background-color: #faebd6;
}

.navigation-links-root-class-name12 {
  background-color: #faebd6;
}

.navigation-links-root-class-name14 {
  background-color: #faebd6;
}

.navigation-links-root-class-name16 {
  background-color: #faebd6;
}

.navigation-links-root-class-name18 {
  background-color: #faebd6;
}
.navigation-links-root-class-name19 {
  background-color: #faebd6;
}

.navigation-links-root-class-name22 {
  background-color: #faebd6;
}

.navigation-links-root-class-name24 {
  background-color: #faebd6;
}

.navigation-links-root-class-name26 {
  background-color: #faebd6;
}

.navigation-links-root-class-name28 {
  background-color: #faebd6;
}

.navigation-links-root-class-name30 {
  background-color: #faebd6;
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.contact-us-image {
  width: 157px;
  height: 62px;
}
.contact-us-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.contact-us-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.contact-us-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.contact-us-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-book {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.contact-us-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 796px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us-text {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.contact-us-text01 {
  width: 732px;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.contact-us-form {
  gap: var(--dl-space-space-fourunits);
  width: auto;
  height: 551px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-us-types {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-us-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-us-textinput {
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-us-textinput1 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-us-textinput2 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-us-textinput3 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-us-date {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.contact-us-textinput4 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-us-textinput5 {
  padding-bottom: var(--dl-space-space-fiveunits);
}
.contact-us-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-text06 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.contact-us-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-book1 {
  width: 100%;
  text-decoration: none;
}
.contact-us-text08 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.contact-us-text10 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
}
.contact-us-text11 {
  color: #2461ff;
  font-weight: 700;
}
.contact-us-text12 {
  color: #2461ff;
}
.contact-us-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-us-image1 {
  width: 85px;
  height: 33px;
  object-fit: cover;
}
.contact-us-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .contact-us-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .contact-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-nav {
    display: none;
  }
  .contact-us-icon {
    display: flex;
  }
  .contact-us-book {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .contact-us-heading {
    gap: var(--dl-space-space-unit);
  }
  .contact-us-text {
    font-size: 24px;
  }
  .contact-us-text01 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .contact-us-form {
    gap: var(--dl-space-space-threeunits);
  }
  .contact-us-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-text16 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-us-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-types {
    flex-direction: column;
  }
  .contact-us-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .contact-us-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-text16 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
