.contact-us1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us1-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.contact-us1-image {
  width: 157px;
  height: 62px;
}
.contact-us1-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.contact-us1-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.contact-us1-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.contact-us1-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us1-book {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 707px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.contact-us1-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 796px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-us1-text {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.contact-us1-text1 {
  width: 732px;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.contact-us1-form {
  width: 647px;
  height: 477px;
  display: flex;
  background-color: #e7d1d1;
}
.contact-us1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.contact-us1-textinput {
  width: auto;
  height: auto;
  margin-left: 39px;
  margin-right: 39px;
}
.contact-us1-textinput1 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-unit);
  margin-left: 39px;
  margin-right: 39px;
}
.contact-us1-textinput2 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-unit);
  margin-left: 39px;
  margin-right: 39px;
}
.contact-us1-select {
  margin-top: var(--dl-space-space-unit);
  margin-left: 39px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 39px;
}
.contact-us1-agreement {
  gap: var(--dl-space-space-unit);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: 39px;
  margin-right: 39px;
  flex-direction: row;
}
.contact-us1-caption {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-us1-normal {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.contact-us1-bold {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.contact-us1-button {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.contact-us1-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-us1-image1 {
  width: 85px;
  height: 33px;
  object-fit: cover;
}
.contact-us1-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us1-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us1-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us1-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .contact-us1-form {
    height: 611px;
    padding-top: 37px;
  }
  .contact-us1-container1 {
    width: 100%;
    height: 377px;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us1-textinput {
    width: auto;
    height: auto;
    margin-right: 39px;
  }
  .contact-us1-textinput1 {
    width: auto;
    height: auto;
    margin-right: 39px;
  }
  .contact-us1-textinput2 {
    width: auto;
    height: auto;
    margin-right: 39px;
  }
  .contact-us1-select {
    width: auto;
    margin-top: var(--dl-space-space-unit);
    margin-left: 39px;
    padding-top: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: 39px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .contact-us1-agreement {
    margin-top: var(--dl-space-space-unit);
    margin-left: 39px;
    margin-right: 39px;
  }
  .contact-us1-checkbox {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .contact-us1-bold {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 700;
  }
  .contact-us1-button {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .contact-us1-nav1 {
    padding-top: 16px;
  }
  .contact-us1-button {
    width: auto;
  }
}
@media(max-width: 767px) {
  .contact-us1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us1-nav {
    display: none;
  }
  .contact-us1-icon {
    display: flex;
  }
  .contact-us1-book {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .contact-us1-heading {
    gap: var(--dl-space-space-unit);
  }
  .contact-us1-text {
    font-size: 24px;
  }
  .contact-us1-text1 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .contact-us1-button {
    width: auto;
  }
  .contact-us1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us1-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-us1-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-us1-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us1-form {
    width: 420px;
  }
  .contact-us1-button {
    width: auto;
  }
  .contact-us1-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .contact-us1-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us1-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
