<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <img
      alt="image"
      src="public/external/ramen-illust-200h.png"
      class="feature-card3-image"
    />
    <h2 class="feature-card3-heading">Ramen</h2>
    <span class="feature-card3-text">
      <span>
        Our ramen is a symphony of flavors, with perfectly cooked noodles that
        have a satisfying texture and a broth that is rich, flavorful, and
        simmered to perfection.
      </span>
    </span>
    <span class="feature-card3-text1"><span>SEE MORE</span></span>
  </div>
</div>
