.feature-card3-feature-card {
  width: 227px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 3px;
  padding-right: 3px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.feature-card3-image {
  width: 200px;
  object-fit: cover;
}
.feature-card3-heading {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card3-text {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card3-text1 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}




