<div>
  <link href="./offer.css" rel="stylesheet" />
  <div class="offer-offer">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="offer-image"
    />
    <div class="offer-content">
      <div class="offer-details">
        <span class="offer-text"><span>Crete, Greece</span></span>
        <span class="offer-text1"><span>3 Local guides</span></span>
      </div>
      <span class="offer-text2">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt.
        </span>
      </span>
    </div>
  </div>
</div>
